body {
    background-color: #e5e5f7;
    opacity: 0.3;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 20px ), repeating-linear-gradient( #8d8d8d55, #8d8d8d );
}